In [1]:
import pandas as pd

In [2]:
path='empleadosRETO.csv'
query=pd.read_csv(path)
EmpleadosAttrition=query

In [3]:
col_names=EmpleadosAttrition.columns
print(col_names)

Index(['Age', 'BusinessTravel', 'Department', 'DistanceFromHome', 'Education',
       'EducationField', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'HiringDate', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'Attrition'],
      dtype='object')

In [4]:
print(EmpleadosAttrition[['EmployeeCount','EmployeeNumber','Over18','StandardHours']].head(10))

   EmployeeCount  EmployeeNumber Over18  StandardHours
0              1             997      Y             80
1              1             178      Y             80
2              1            1780      Y             80
3              1            1118      Y             80
4              1             582      Y             80
5              1            1827      Y             80
6              1             872      Y             80
7              1            1681      Y             80
8              1             215      Y             80
9              1            1371      Y             80

In [5]:
EmpleadosAttrition.drop(['EmployeeCount','EmployeeNumber','Over18','StandardHours'], axis=1, inplace=True)

In [6]:
print(EmpleadosAttrition.columns)

Index(['Age', 'BusinessTravel', 'Department', 'DistanceFromHome', 'Education',
       'EducationField', 'EnvironmentSatisfaction', 'Gender', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'NumCompaniesWorked', 'HiringDate', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'Attrition'],
      dtype='object')

In [7]:
print(EmpleadosAttrition['HiringDate'].str[-4:].sort_values(ascending=False))

75     2018
159    2018
347    2018
42     2018
343    2018
       ...
28     1993
302    1992
270    1991
284    1989
143    1985
Name: HiringDate, Length: 400, dtype: object

In [8]:
EmpleadosAttrition['Year']=EmpleadosAttrition['HiringDate'].str[-4:].astype(int)
print(EmpleadosAttrition['Year'].sort_values(ascending=True))
#print(EmpleadosAttrition['HiringDate'])

143    1985
284    1989
270    1991
302    1992
28     1993
       ...
213    2018
75     2018
42     2018
343    2018
349    2018
Name: Year, Length: 400, dtype: int32

In [9]:
print(EmpleadosAttrition['TotalWorkingYears'].head(15).sort_values(ascending=False))

0     32
5     28
14    26
11    23
3     18
13    17
4     15
8     15
9      8
10     8
1      7
7      7
12     5
6      4
2      1
Name: TotalWorkingYears, dtype: int64

In [10]:
EmpleadosAttrition['YearsAtCompany']=2018-EmpleadosAttrition['Year']
print(EmpleadosAttrition["YearsAtCompany"].head(35))

0      5
1      3
2      1
3      8
4      7
5     22
6      2
7      6
8     12
9      6
10     1
11     3
12     2
13    14
14    11
15     9
16     9
17    15
18    21
19    17
20     9
21     3
22     5
23     0
24     1
25     4
26     1
27     5
28    25
29     1
30    10
31     5
32    20
33    10
34     0
Name: YearsAtCompany, dtype: int32

In [11]:
EmpleadosAttrition=EmpleadosAttrition.rename(columns={'DistanceFromHome':'DistanceFromHome_Km'})

In [12]:
print(EmpleadosAttrition.columns)

Index(['Age', 'BusinessTravel', 'Department', 'DistanceFromHome_Km',
       'Education', 'EducationField', 'EnvironmentSatisfaction', 'Gender',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked', 'HiringDate',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'Attrition', 'Year', 'YearsAtCompany'],
      dtype='object')

In [13]:
print(EmpleadosAttrition['DistanceFromHome_Km'].head(10))

0     1 km
1     6 km
2     7 km
3     7 km
4    15 km
5     4 km
6     1 km
7    16 km
8     4 km
9     2 km
Name: DistanceFromHome_Km, dtype: object

In [14]:
EmpleadosAttrition['DistanceFromHome']=EmpleadosAttrition['DistanceFromHome_Km'].str[:2].astype(int)
print(EmpleadosAttrition['DistanceFromHome'].head(10))

0     1
1     6
2     7
3     7
4    15
5     4
6     1
7    16
8     4
9     2
Name: DistanceFromHome, dtype: int32

In [15]:
EmpleadosAttrition.drop(['Year','HiringDate','DistanceFromHome_Km'], axis=1, inplace=True)
print(EmpleadosAttrition.columns)

Index(['Age', 'BusinessTravel', 'Department', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'Attrition', 'YearsAtCompany',
       'DistanceFromHome'],
      dtype='object')

In [16]:
#imp=EmpleadosAttrition['Department'].where(EmpleadosAttrition['Department']!='Research & Development')

print(EmpleadosAttrition['Department'])

SueldoPromDepto=EmpleadosAttrition[['MonthlyIncome','Department']]
print(SueldoPromDepto)

0      Research & Development
1      Research & Development
2                       Sales
3      Research & Development
4      Research & Development
                ...
395    Research & Development
396                     Sales
397    Research & Development
398    Research & Development
399    Research & Development
Name: Department, Length: 400, dtype: object
     MonthlyIncome              Department
0            17399  Research & Development
1             4941  Research & Development
2             2679                   Sales
3            10445  Research & Development
4            13610  Research & Development
..             ...                     ...
395           2436  Research & Development
396           4559                   Sales
397          12185  Research & Development
398           3306  Research & Development
399           2756  Research & Development

[400 rows x 2 columns]

In [17]:
SueldoPromedio=SueldoPromDepto.groupby('Department').mean()
print(SueldoPromedio)

                        MonthlyIncome
Department
Human Resources           6239.888889
Research & Development    6804.149813
Sales                     7188.250000

In [18]:
print(EmpleadosAttrition['MonthlyIncome'])
EmpleadosAttrition['MonthlyIncome_Norm']=EmpleadosAttrition['MonthlyIncome']/EmpleadosAttrition['MonthlyIncome'].abs().max()
#print('\n',EmpleadosAttrition['MonthlyIncome_Norm'].head(20))
print('\n',round(EmpleadosAttrition['MonthlyIncome_Norm'], 4).head(40))

0      17399
1       4941
2       2679
3      10445
4      13610
       ...
395     2436
396     4559
397    12185
398     3306
399     2756
Name: MonthlyIncome, Length: 400, dtype: int64

 0     0.8711
1     0.2474
2     0.1341
3     0.5230
4     0.6814
5     0.5173
6     0.2391
7     0.2688
8     0.5435
9     0.2539
10    0.1205
11    0.5495
12    0.1158
13    0.5312
14    0.9407
15    0.4969
16    0.2317
17    0.2707
18    0.9930
19    0.7436
20    0.2739
21    0.2020
22    0.3050
23    0.0802
24    0.3070
25    0.3035
26    0.0505
27    0.1085
28    0.7178
29    0.2214
30    0.1568
31    0.1173
32    0.8596
33    0.2658
34    0.1311
35    0.2834
36    0.4696
37    0.5559
38    0.4769
39    0.3945
Name: MonthlyIncome_Norm, dtype: float64

In [19]:
#print('\n',EmpleadosAttrition[['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','Attrition']].head(40))

corr=EmpleadosAttrition[['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','Attrition']].apply(lambda x: pd.factorize(x)[0]).head(40)
print(EmpleadosAttrition.columns)

#print(EmpleadosAttrition[['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','Attrition']].astype(int))

Index(['Age', 'BusinessTravel', 'Department', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'Attrition', 'YearsAtCompany',
       'DistanceFromHome', 'MonthlyIncome_Norm'],
      dtype='object')

In [20]:
print(EmpleadosAttrition.columns)
print(EmpleadosAttrition['Attrition'])
print(corr)

Index(['Age', 'BusinessTravel', 'Department', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'Attrition', 'YearsAtCompany',
       'DistanceFromHome', 'MonthlyIncome_Norm'],
      dtype='object')
0       No
1       No
2      Yes
3       No
4      Yes
      ...
395    Yes
396    Yes
397     No
398     No
399     No
Name: Attrition, Length: 400, dtype: object
    BusinessTravel  Department  EducationField  Gender  JobRole  \
0                0           0               0       0        0
1                0           0               0       0        1
2                0           1               1       0        2
3                0           0               2       0        3
4                0           0               0       0        4
5                0           0               2       1        1
6                0           0               2       0        1
7                1           1               2       1        5
8                0           1               1       0        5
9                2           1               2       0        5
10               0           0               2       0        6
11               2           0               2       0        1
12               0           0               0       0        7
13               0           1               2       0        5
14               0           1               1       1        4
15               0           1               2       0        5
16               0           0               3       1        6
17               1           1               1       0        5
18               0           1               0       0        4
19               0           1               0       0        4
20               0           0               0       0        7
21               0           0               2       0        3
22               0           0               2       1        1
23               0           0               2       0        6
24               0           0               0       0        1
25               0           0               2       1        1
26               0           0               0       0        7
27               0           0               2       1        7
28               0           0               2       0        0
29               2           0               0       1        7
30               0           0               0       1        6
31               2           0               0       0        7
32               0           0               0       1        0
33               2           0               2       0        6
34               0           0               2       1        7
35               1           0               2       0        3
36               0           0               3       0        1
37               0           0               0       0        3
38               2           1               0       0        5
39               0           1               2       0        5

    MaritalStatus  Attrition
0               0          0
1               0          0
2               1          1
3               1          0
4               2          1
5               0          0
6               2          0
7               0          0
8              -1          0
9               1          0
10              2          0
11              2          0
12              1          1
13              2          1
14              2          0
15              2          0
16              2          0
17              0          0
18              1          0
19              0          0
20              0          0
21              2          0
22              1          0
23              2          1
24              2          0
25              2          0
26              1          1
27              2          0
28              0          0
29              2          0
30              2          0
31              0          1
32              2          0
33              2          0
34              1          0
35              0          0
36              2          0
37              2          0
38              0          0
39              1          0

In [21]:
print('\nBusiness Travel\n',corr['BusinessTravel'].corr(corr['Attrition']))
print('\nDepartment\n',corr['Department'].corr(corr['Attrition']))
print('\nEducationField\n',corr['EducationField'].corr(corr['Attrition']))
print('\nGender\n',corr['Gender'].corr(corr['Attrition']))
print('\nJobRole\n',corr['JobRole'].corr(corr['Attrition']))
print('\nMaritalStatus\n',corr['MaritalStatus'].corr(corr['Attrition']))

#'BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','Attrition'
"""Se eliminan BusinessTravel, Department, MaritalStatus"""

Business Travel
 -0.05625368297887143

Department
 -0.014357683075131616

EducationField
 -0.2225933779878673

Gender
 -0.28365431446558786

JobRole
 0.2961060384372094

MaritalStatus
 0.06871216207360595

'Se eliminan BusinessTravel, Department, MaritalStatus'

In [22]:
EmpleadosAttritionFinal=EmpleadosAttrition.drop(['BusinessTravel','Department','MaritalStatus'],axis=1)
print(EmpleadosAttritionFinal.columns)
EmpleadosAttritionFinal.to_csv()

Index(['Age', 'Education', 'EducationField', 'EnvironmentSatisfaction',
       'Gender', 'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MonthlyIncome', 'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'Attrition', 'YearsAtCompany',
       'DistanceFromHome', 'MonthlyIncome_Norm'],
      dtype='object')

In [23]:
from sklearn.decomposition import PCA

In [25]:
pca=PCA()
pca.fit(corr)
print(pca.components_)

[[-0.08038459 -0.03272106  0.05278805 -0.00679231 -0.99358842 -0.00333191
  -0.04904981]
 [-0.08148732 -0.07844249  0.79476406  0.11645785  0.05079066  0.58098639
  -0.04323628]
 [ 0.30295294  0.18579303  0.57892304 -0.0544248   0.008587   -0.7227424
  -0.11470053]
 [ 0.94092367 -0.04374753 -0.11829087 -0.03438427 -0.07926596  0.29798544
  -0.04995369]
 [-0.02766599  0.37844169  0.07416433 -0.81420494 -0.02137645  0.14126424
   0.40886907]
 [-0.03011114  0.88988572 -0.0937735   0.28616617 -0.01968657  0.16643373
  -0.29736246]
 [ 0.09004556  0.14570006  0.04609866  0.48726414 -0.05478153 -0.06029957
   0.85116086]]

In [26]:
print(pca.explained_variance_)

[5.67546479 1.204346   0.74443986 0.49019481 0.22357264 0.17836873
 0.09386958]

In [27]:
print(pca.explained_variance_ratio_)

[0.65915166 0.13987342 0.08645966 0.0569315  0.02596585 0.02071584
 0.01090207]

In [30]:
EmpleadosAttritionFinalPCA=pca.transform(corr)
print(EmpleadosAttritionFinalPCA)

[[ 3.89073273 -1.79157361 -0.03156371 -0.21113988 -0.11835198 -0.28393211
  -0.13138428]
 [ 2.89714431 -1.74078296 -0.02297671 -0.29040584 -0.13972844 -0.30361868
  -0.18616581]
 [ 1.87124117 -0.43592062 -0.08711657 -0.28367844  0.84163444  0.34187824
   0.74171267]
 [ 1.01221166  0.53131286  0.42930096 -0.38753405  0.10711155 -0.36410508
  -0.26383111]
 [-0.13933458 -0.46967449 -1.55740104  0.01781348  0.48753975 -0.32717339
   0.38005132]
 [ 2.99592809 -0.03479699  1.08044457 -0.56137184 -0.80560471 -0.2049995
   0.39329566]
 [ 2.99605659  1.01071794 -0.31061544  0.06898331  0.2911287  -0.15829821
  -0.21456763]
 [-1.09153124  0.00843583  1.60353854  0.01874047 -0.54033482  0.57602879
   0.40991517]
 [-1.05381047 -1.40228516  1.49882976 -1.06749351  0.08610753  0.24731352
  -0.15319362]
 [-1.16845543  0.39147705  1.23817387  1.29203385  0.38746836  0.42618521
  -0.04760299]
 [-1.97188552  1.26467122 -0.26768044 -0.32734648  0.18424643 -0.25673106
  -0.48847527]
 [ 2.8352874   0.84774331  0.29529044  1.95083066  0.23579672 -0.21852048
  -0.03447651]
 [-3.11676793 -0.89828891 -0.80889764 -0.51796984  0.28214616 -0.55266684
   0.27600631]
 [-1.06006796  1.09220179 -0.20517493 -0.34178174  0.99293365  0.35547876
   0.56316718]
 [-0.07701009  0.40634121 -0.73240924 -0.1286555  -0.28292824  1.05246746
   0.20795333]
 [-1.01101815  1.13543807 -0.09047441 -0.29182806  0.58406458  0.65284123
  -0.28799368]
 [-1.92588978  2.17589313  0.2568178  -0.48002162 -0.55579417 -0.06433839
   0.04488753]
 [-1.13752698 -0.90278609  1.0790403   0.1714156   0.19970578  0.38363611
  -0.12344764]
 [-0.11967392 -1.08586709 -0.53416508 -0.27396581  0.31584813  0.69364106
  -0.2651099 ]
 [-0.11634201 -1.66685348  0.18857732 -0.57195125  0.1745839   0.52720732
  -0.20481033]
 [-3.06438621 -1.43603902  0.02854529 -0.76600159 -0.26798715 -0.42173811
  -0.51485498]
 [ 1.00887975  1.11229925 -0.29344144 -0.0895486   0.24837579 -0.19767135
  -0.32413068]
 [ 2.99259618  0.5461894   0.35770217 -0.2633864  -0.66434048 -0.03856577
   0.33299608]
 [-2.02093532  1.22143494 -0.38238097 -0.37730017  0.59311551 -0.55409353
   0.36268559]
 [ 2.8904805  -0.57881017 -1.46846151  0.30556505  0.14280004  0.02924879
  -0.30676496]
 [ 2.98926428  1.12717579 -0.36504023  0.03459904 -0.52307624  0.12786797
   0.27269651]
 [-3.11676793 -0.89828891 -0.80889764 -0.51796984  0.28214616 -0.55266684
   0.27600631]
 [-2.97226625  1.43191973 -0.31351823 -0.44099671 -0.65133496  0.00974854
  -0.05599266]
 [ 3.99630883 -0.2020455   1.12628236 -0.44772161  0.02997668 -0.4714791
  -0.03918695]
 [-3.23861153 -0.32058302 -0.86545842  1.67743237 -0.85499559  0.13707325
   0.03190113]
 [-2.08425392 -0.20839904 -1.4799513  -0.12514902 -0.77828716  0.2169821
  -0.09340846]
 [-3.27420521 -1.64224993  0.51975065  1.06589207  0.08554995 -0.77932285
   0.516397  ]
 [ 3.8772766  -0.51314298 -1.53147331  0.35044674 -0.65002844  0.33510153
   0.23528071]
 [-2.13265471  1.10169659  0.33822544  1.55450087  0.12891446 -0.31695334
  -0.30838415]
 [-2.96893434  0.85093334  0.40922417 -0.73898215 -0.79259919 -0.1566852
   0.00430692]
 [ 0.93515897 -0.13116084  1.4549963   0.25540419 -0.06181867 -0.56064996
  -0.11348598]
 [ 3.04884464  1.805482    0.2683076  -0.04930755  0.36529303 -0.2520717
  -0.16846896]
 [ 0.90330365 -0.47722886 -1.45128751  0.14703313  0.10004713 -0.01012436
  -0.41632801]
 [-1.27069962 -1.77903746  0.8030702   1.23063014  0.09787547  0.44729847
  -0.07950074]
 [-1.00768624  0.55445168  0.63226799 -0.5898135   0.44280034  0.48640749
  -0.2276941 ]]